{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("/css/indexStyle.css") }}">
    <style>
        body{
            overflow: hidden;
        }
    </style>
{% endblock %}
{% block body %}
    {% block navBar %}
    {% endblock %}
    <div class="indexContent">
        <div class="description">
            <div id="description-content">
                <div>
                    <h1>C'est Noel !</h1>
                </div>
            </div>
        </div>
        <form method="post" class="login-form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
            <label for="inputNom">Nom</label>
            <input type="text" value="{{ last_username }}" name="nom" id="inputNom" class="form-control" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-primary" type="submit">
                Se connecter
            </button>
            <a id="inscritptionLink" href="{{ path('inscription_page') }}">S'inscrire</a>
        </form>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        //Design Switch form
        $('#switchFormInscription').on('click', function (e) {
            e.preventDefault();
            window.location.replace("{{ absolute_url(path('inscription_page')) }}");
        });
        //Design Switch form

       //Return le nom des input de symfony sous la forme de cet exemple (adresse[nom] => nom)
        $(document).ready(function () {
            $('.js-datepicker').datepicker({
                format : 'dd/mm/yyyy',
                daysMin:["Dim","Lun","Mar","Mer","Jeu","Ven","Sam"],
                months:["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]
            });
        });

    </script>
{% endblock %}