{% extends 'base.html.twig' %}

{% block title %}Hello AdressesController!{% endblock %}

{% block body %}
    <h1> Gestion des adresses</h1>
    <div id="filtres">
        <form>
            <label for="filtreVille">Ville</label>
            <input type="text" id="filtreVille" />
            <button type="submit">Chercher</button>
        </form>
    </div>
    <a href="#">Ajouter</a>
    <!-- form modifier -->
        <div class="modal fade" id="ajoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter cadeau</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
    {{ form_start(adressesFormModifier, {'attr': {'id': 'adressFormModifier', 'action': path('modifier_adresses', {id: 0}), 'method': 'POST'}}) }}
    {{ form_row(adressesFormModifier.nomRue) }}
    {{ form_row(adressesFormModifier.numRue) }}
    {{ form_row(adressesFormModifier.codePostal) }}
    {{ form_row(adressesFormModifier.ville) }}
        <button type="submit" >Modifier</button>
    {{ form_end(adressesFormModifier) }}

    <!-- /form modifier -->

    <!-- form ajouter -->

    {{ form_start(adressesFormAjouter, {'attr': {'id': 'adressFormAjouter', 'action': path('ajouter_adresses'), 'method': 'POST'}}) }}
        {{ form_row(adressesFormAjouter.nomRue) }}
        {{ form_row(adressesFormAjouter.numRue) }}
        {{ form_row(adressesFormAjouter.codePostal) }}
        {{ form_row(adressesFormAjouter.ville) }}
        <button type="submit" >Ajouter</button>
    {{ form_end(adressesFormAjouter) }}

    <!-- /form ajouter -->

    <!-- Table content-->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table id="adresses" class="table table-bordered">
                    <theader>
                        <tr>
                            <th>Nom rue</th>
                            <th>Numero rue</th>
                            <th>Code postal</th>
                            <th>Ville</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </theader>
                    <tbody id="content">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /Table content-->

{% endblock %}
{% block javascripts %}
    <script language = "javascript">
        //variable globale
        var idToModif = 0;
        //variable globale

        //Fonction remplis le formulaire apartir des lignes du tableau
        function modifierAdresse(event){
            idToModif = Number(event.target.id.substring(10));
            tr = $('#' + event.target.id).closest('tr');
            $("#adressFormModifier #nomRue").val($('.nomRue', tr).text());
            $("#adressFormModifier #numRue").val($('.numRue', tr).text());
            $("#adressFormModifier #codePostal").val($('.codePostal', tr).text());
            $("#adressFormModifier #ville").val($('.ville', tr).text());
        }
        //Fonction remplis le formulaire apartir des lignes du tableau

        //Fonction supprimer ligne du tableau a partir de son id
        function supprimerAdresseFromTable(id){
            $('#s-adresse-' +id).closest('tr').remove();
        }
        //Fonction supprimer ligne du tableau a partir de son id

        //Fonction qui affiche dans le tableau html les donnée(adresse)
        function afficherTableau(data){
            $("#content").html('');
            $("#msg-if-vide").html('');
            if(data.length == 0){
                let e = $('<div>Aucune adresse dans cette ville</div>');
                $("#msg-if-vide").append(e);
            } else{
                for(i = 0; i < data.length; i++) {
                    ligne = data[i];
                    idModification = 'm-adresse-' + ligne['id'];
                    idSuppression = 's-adresse-' + ligne['id'];
                    var e = $('<tr><td class="nomRue">' +
                        '</td><td class="numRue"></td>' +
                        '<td class="codePostal"></td>' +
                        '<td class="ville"></td>' +
                        ' <td class="modifier"><a href="#" id="' + idModification + '">Modifier</a></td>' +
                        '<td class="supprimer"><a href="#" id="' + idSuppression + '">Supprimer</a></td>' +
                        '</tr>'
                    );

                    $('.nomRue', e).html(ligne['nomRue']);
                    $('.numRue', e).html(ligne['numRue']);
                    $('.codePostal', e).html(ligne['codePostal']);
                    $('.ville', e).html(ligne['ville']);

                    $("#content").append(e);
                    $('#' + idModification).click(function (event) {
                        event.preventDefault();
                        modifierAdresse(event);
                    });
                    $('#' + idSuppression).click(function (event) {
                        event.preventDefault();
                        let idToDelete = Number(event.target.id.substring(10));
                        supprimer(idToDelete);
                    });
                }
            }
        }
        //Fonction qui affiche dans le tableau html les donnée(adresse)

        //Afficher tableau
        $(document).ready(function(){
            $.ajax({
                url: '/adresses',
                type: 'GET',
                dataType: 'json',
                async: true,

                success: function (data) {
                    afficherTableau(data)
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log(xhr);
                    alert('Ajax request failed.' + textStatus + 'errorooo: ' + errorThrown);
                }
            });
        });
        //Afficher tableau

        //Ajouter
        $("#adressFormAjouter").on("submit", function (event) {
            event.preventDefault();
            var data = {};
            $(this).serializeArray().forEach(obj=>{
                console.log(obj.name);
                console.log(obj.value);
                let name = obj.name;
                let value = obj.value || '';
                if (data[name]) {
                    if (!Array.isArray(data[name])) {
                        data[name] = [data[name]];
                    }
                    data[name].push(value);
                } else {
                    data[name] = value;
                }
            });
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: JSON.stringify(data),

                success: function(response){
                    $("#adressFormAjouter")[0].reset();
                    if(response[0]["success"]>0){
                        var e = $('<tr><td class="nomRue">' +
                            '</td><td class="numRue"></td>' +
                            '<td class="codePostal"></td>' +
                            '<td class="ville"></td>' +
                            ' <td class="modifier"><a href="#" id="m-adresse-'+response[0]["success"]+'" >Modifier</a></td>' +
                            '<td class="supprimer"><a href="#" id="s-adresse-'+response[0]["success"]+'">Supprimer</a></td>'+
                            '</tr>'
                        );

                        $('.nomRue',e).html(data['nomRue']);
                        $('.numRue',e).html(data['numRue']);
                        $('.codePostal',e).html(data['codePostal']);
                        $('.ville',e).html(data['ville']);

                        $("#content").append(e);
                        $('#m-adresse-'+response[0]["success"]).click( function (event) {
                            event.preventDefault();
                            modifierAdresse(event);
                        });
                        $('#s-adresse-'+response[0]["success"]).click( function (event) {
                            event.preventDefault();
                            let idToDelete = Number(event.target.id.substring(10));
                            supprimer(idToDelete);
                        });
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                    //alert('Ajax request failed.' + textStatus + 'errorooo: ' + errorThrown);
                }
            });
        });
        //Ajouter

        //Modifier
        $("#adressFormModifier").on("submit", function (event) {
            event.preventDefault();
            var data = {};
            console.log($(this).serializeArray());
            $(this).serializeArray().forEach(obj=>{
                console.log(obj.name);
                console.log(obj.value);
                let name = obj.name;
                let value = obj.value || '';
                if (data[name]) {
                    if (!Array.isArray(data[name])) {
                        data[name] = [data[name]];
                    }
                    data[name].push(value);
                } else {
                    data[name] = value;
                }
            });
            $.ajax({
                url: '/adresses/modifier/' + idToModif,
                type: 'POST',
                data: JSON.stringify(data),

                success: function (response) {
                    console.log(response[0]["success"]);
                    tr = $('#m-adresse-'+response[0]["success"]).closest("tr");
                    $('.nomRue',tr).html(data['nomRue']);
                    $('.numRue',tr).html(data['numRue']);
                    $('.codePostal',tr).html(data['codePostal']);
                    $('.ville',tr).html(data['ville']);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('error' + errorThrown);
                    console.log('data' + JSON.stringify(data));
                }
            });
        });
        //Modifier

        //supprimer
        function supprimer(idToDelete){
            $.ajax({
                url: '/adresses/supprimer/'+idToDelete,
                type: 'DELETE',
                async: true,

                success: function (response) {
                    //Effacer la ligne dans le tableau html
                    supprimerAdresseFromTable(response[0]["success"]);
                },
                error: function (response) {
                    console.log(response[0]["message"]);
                }
            });
        }
        //supprimer

        //filtre ville
        $('#filtres').on('submit', function (event) {
            event.preventDefault();
            let ville = {"ville" : $('#filtreVille').val().trim()};
            $.ajax({
                url: '/adresses/ville',
                type: 'POST',
                data: JSON.stringify(ville),
                success: function(data) {
                        afficherTableau(data);
                },
                error: function (response) {
                    console.log(response[0]["fail"]);
                }
            });
        });
        //filtre ville

    </script>
{% endblock %}