{% extends 'base.html.twig' %}

{% block title %}Hello CadeauxController!{% endblock %}

{% block body %}
    <!-- Form Ajout-->
    {{ form_start(cadeauxFormAjouter, {'attr' : { 'id': 'cadeauxFormAjout'}}) }}
    {{ form_row(cadeauxFormAjouter.nom) }}
    {{ form_row(cadeauxFormAjouter.age) }}
    {{ form_row(cadeauxFormAjouter.prix) }}
    {{ form_row(cadeauxFormAjouter.categorie) }}
    <button type="submit">Ajouter</button>
    {{ form_end(cadeauxFormAjouter) }}
    <!-- Form Ajout-->
    <hr/>    <!-- Form Ajout-->
    {{ form_start(cadeauxFormModifier, {'attr' : { 'id': 'cadeauxFormModifier'}}) }}
    {{ form_row(cadeauxFormModifier.nom) }}
    {{ form_row(cadeauxFormModifier.age) }}
    {{ form_row(cadeauxFormModifier.prix) }}
    {{ form_row(cadeauxFormModifier.categorie) }}
    <button type="submit">Modifier</button>
    {{ form_end(cadeauxFormModifier) }}
    <!-- Form Ajout-->
    <hr/>
    <!-- Table content-->
    <table id="cadeaux">
        <theader>
            <tr>
                <th>Nom</th>
                <th>Age</th>
                <th>Prix</th>
                <th>Catégorie</th>
                <th>Personnes</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </theader>
        <tbody id="content">
        </tbody>
    </table>
    <div id="msg-if-vide"></div>
    <div id="personnes-cadeux">
        <h3>Personnes</h3>
        <ul>

        </ul>
    </div>
    <!-- /Table content-->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/crudCadeaux.js') }}"></script>

<script language = "javascript">
    //variable globale
    var idToModif = 0;
    //variable globale
    ajouterCadeauEvent('cadeauxFormAjout');
    modifierCadeauEvent('cadeauxFormModifier');
    // Retourn personnes d'un cadeau
    function getPersonnesOfCadeau(idCadeau) {
        $.ajax({
            url: '/cadeaux/personnes/'+idCadeau,
            type: 'GET',

            success: function (response) {
                $('#personnes-cadeux ul').html('');
                response.forEach(function (personne) {
                    $('#personnes-cadeux ul').append('<li>'+personne["nom"]+'</li>');
                });
            },
            error: function (response) {
                console.log(response.responseJSON[0]["fail"]);
            }
        })
    }
    //Return le nom des input de symfony sous la forme de cet exemple (adresse[nom] => nom)
    function getNameInput(inputName) {
        let t = inputName.split("");
        let prefix = '';
        for (i = 0; i < t.length; i++) {
            if(t[i] != "[" && t[i] != "]"){
                prefix += t[i];
            } else if(t[i] == "["){
                prefix = '';
            }
        }
        return prefix;
    }
    //Return le nom des input de symfony sous la forme de cet exemple (adresse[nom] => nom)

    //Fonction qui affiche dans le tableau html les donnée(adresse)
    function afficherTableau(data){
        $("#content").html('');
        $("#msg-if-vide").html('');
        if(data.length == 0){
            let e = $('<div>Aucune adresse dans cette ville</div>');
            $("#msg-if-vide").append(e);
        } else{
            for(i = 0; i < data.length; i++) {
                ligne = data[i];
                idCategorie = 'c-cadeau-'+ligne['idCategorie'];
                idModification = 'm-cadeau-' + ligne['id'];
                idSuppression = 's-cadeau-' + ligne['id'];
                idPersonne = 'p-cadeau-' + ligne['id'];
                var e = $('<tr><td class="nom">' +
                    '</td><td class="age"></td>' +
                    '<td class="prix"></td>' +
                    '<td class="categorie" id="'+idCategorie+'"></td>' +
                    '<td class="personne"><a href="#" id="'+idPersonne+'">Personnes</a></td>' +
                    ' <td class="modifier"><a href="#" id="' + idModification + '">Modifier</a></td>' +
                    '<td class="supprimer"><a href="#" id="' + idSuppression + '">Supprimer</a></td>' +
                    '</tr>'
                );

                $('.nom', e).html(ligne['nom']);
                $('.age', e).html(ligne['age']);
                $('.prix', e).html(ligne['prix']);
                $('.categorie', e).html(ligne['categorie']);

                $("#content").append(e);
                $('#' + idModification).click(function (event) {
                    event.preventDefault();
                    modifierCadeau(event, 'cadeauxFormModifier');
                });
                $('#' + idSuppression).click(function (event) {
                    event.preventDefault();
                    let idToDelete = Number(event.target.id.substring(9));
                    supprimer(idToDelete);
                });
                $('#' + idPersonne).click(function (event) {
                    event.preventDefault();
                    let idCadeau = Number(event.target.id.substring(9));
                    getPersonnesOfCadeau(idCadeau);
                });
            }
        }
    }
    //Fonction qui affiche dans le tableau html les donnée(adresse)

    //Afficher cadeaux
    $(document).ready(function(){
        $.ajax({
            url: '/cadeaux',
            type: 'GET',
            dataType: 'json',

            success: function(response){
                afficherTableau(response);
            },
            error: function () {
                console.log('afficher tableau');
            }
        });
        //afficher cadeaux
    });
    </script>

{% endblock %}