{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/categorie.css') }}">
{% endblock %}
{% block body %}
<h1> Gestion des categories</h1>
    <!-- Form Ajout-->
<div class="modal fade" id="ajoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter categorie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    {{ form_start(categoriesFormAjouter, {'attr' : { 'id': 'categoriesFormAjout'}}) }}
        {{ form_row(categoriesFormAjouter.nom) }}

      </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Ajouter</button>
            {{ form_end(categoriesFormAjouter) }}
        </div>
    </div>
  </div>
</div>
    <!-- Form Ajout-->

    <!-- Form modifier-->
    <div class="modal fade" id="modifModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">modifier categorie</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(categoriesFormModifier, {'attr' : { 'id': 'categoriesFormModifier'}}) }}
                        {{ form_row(categoriesFormModifier.nom) }}

                 </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Modifier</button>
                    {{ form_end(categoriesFormModifier) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Form Ajout-->

    <form id="filtre-age">
        <div>
            <input type="text" id="age-min" placeholder="Minimum d'age inclus" class="form-control">
        </div>
        <div>
            <input type="text" id="age-max" placeholder="Maximum d'age inclus" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Filtre</button>
        <button class="btn btn-primary" id="ajouterCategorieModale">Ajouter categorie</button>
    </form>
    <div id="container-annuler">
        <a href="" id="annuler-filtre">Annuler</a>
    </div>
     <!-- Table content-->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table id="Categories"  class="table table-bordered">
                    <theader>
                         <tr>
                             <th>Nom</th>
                             <th>Moyennes des prix</th>
                             <th>Modifier</th>
                             <th>Supprimer</th>
                             <th>Pourcentage des prix des cadeaux</th>
                         </tr>
                    </theader>
                    <tbody id="content">
                    </tbody>
                 </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script>
    //variables globales
        var idToModif = 0;
    //variables globales

    //
        $('#annuler-filtre').on('click', function (event) {
            event.preventDefault();
            afficherCategories();
            $(this).css('display', 'none');
        })
    //

    //
        $('#ajouterCategorieModale').on('click', function (e) {
            e.preventDefault();
            $('#ajoutModal').modal('show');
        })
    //

    //
        $('#filtre-age').on('submit', function (event) {
            event.preventDefault();
            let ageMin = $(this).find('#age-min').val();
            let ageMax = $(this).find('#age-max').val();
            if(isNaN(ageMin) || isNaN(ageMax)){
                Swal.fire({
                    icon: 'error',
                    title: 'Action échoué',
                    text: "Les données du filtre invalides !",
                });
                $(this).closest('form')[0].reset();
                return;
            }
            $.ajax({
                url: '/categories/filtre/age',
                type: 'GET',
                data: {min: ageMin, max:ageMax},
                success: function (response) {
                    afficherTableau(response);
                    $('#annuler-filtre').css('display', 'inline-block');
                },
                error: function (response) {
                    console.log('[Prob] $(\'#filtre-age\').on(\'submit\'');
                }
            })
        })
    //

    // changement des pourcentages des prix des cadeaux
        function changementPourcentageCadeaux(pourcentage, id, type) {
            $.ajax({
                url: '/categories/pourcentage/' + id,
                type: 'POST',
                data: JSON.stringify({pourcentage: pourcentage, type: type}),
                success: function (response) {
                    tr = $('#m-categorie-'+id).closest('tr');
                    $('.moyenne', tr).html(response["moyenne"]);
                    console.log('[success] changement de pourcentage effectué');
                    Swal.fire({
                        icon: 'success',
                        title: 'Changement effectué',
                        text: "changement de pourcentage effectué !",
                    });
                },
                error: function (response) {
                    console.log('[fail] changement impossible');
                    let msgText = response.responseJSON["fail"];
                    if(response.status == 500) {
                        msgText = "Un probleme de connexion peut etre la cause !";
                    }
                    Swal.fire({
                        icon: 'error',
                        title: 'Action échoué',
                        text: msgText,
                    });
                }
            })
        }
    // changement par pourcentage des prix des cadeaux

    //function afficher categories
    function afficherTableau(data){
        $("#content").html('');
        $("#msg-if-vide").html('');
        if(data.length == 0){
            let e = $('<div>Aucune categorie </div>');
            $("#msg-if-vide").append(e);
        } else{
            for(i = 0; i < data.length; i++) {
                ligne = data[i];
                idModification = 'm-categorie-' + ligne['id'];
                idSuppression = 's-categorie-' + ligne['id'];
                prixChange = 'p-categorie-' + ligne['id'];
                var e = $('<tr><td class="nom">' +
                    '</td><td class="moyenne"></td>' +
                    '<td class="modifier"><a href="#" ><img width="24px" src="{{ asset('img/icon/edit.png') }}" id="' + idModification + '" /></a></td>' +
                    '<td class="supprimer"><a href="#" id="' + idSuppression + '"><img width="24px" src="{{ asset('img/icon/delete.png') }}"  id="' + idSuppression + '" /></a></td>' +
                    '<td class="pourcentage">' +
                        '<form id="formPourcentage">' +
                            '<input type="text" placeholder="Pourcentage de prix" class="form-control"/>' +
                            '<button  id="a-'+prixChange+'" class="btn btn-primary">+</button>' +
                            '<button  id="d-'+prixChange+'" class="btn btn-primary">-</button>' +
                        '</form>' +
                    '</td>' +
                    '</tr>'
                );

                $('.nom', e).html(ligne['nom']);
                $('.moyenne', e).html(ligne['moyenne']);

                $("#content").append(e);
                $('#' + idModification).click(function (event) {
                event.preventDefault();
                    modifierCategorie(event);
                    $('#modifModal').modal('show');
                });
                $('#' + idSuppression).click(function (event) {
                event.preventDefault();
                let idToDelete =  Number(event.target.id.substring(12));
                supprimer(idToDelete);
                });
                $('#a-'+prixChange).click(function (event) {
                    event.preventDefault();
                    let idCategoriToChange = Number(event.target.id.substring(14));
                    let form = $(this).closest('form');

                    let pourcentage = $('input', form).val();
                    if(isNaN(pourcentage)){
                        console.log('[Prob] la valeur ' + pourcentage + 'n\'est pas un nombre valid');
                        Swal.fire({
                            icon: 'error',
                            title: 'Action échoué',
                            text: 'la valeur " ' + pourcentage + ' "n\'est pas un nombre valid',
                        });
                    } else {
                        changementPourcentageCadeaux(pourcentage, idCategoriToChange, 'plus');
                        $(form)[0].reset();
                    }
                });
                $('#d-'+prixChange).click(function (event) {
                    event.preventDefault();
                    let idCategoriToChange = Number(event.target.id.substring(14));
                    let form = $(this).closest('form');

                    let pourcentage = $('input', form).val();
                    if(isNaN(pourcentage)){
                        console.log('[Prob] la valeur ' + pourcentage + 'n\'est pas un nombre valid');
                        Swal.fire({
                            icon: 'error',
                            title: 'Action échoué',
                            text: 'la valeur " ' + pourcentage + ' "n\'est pas un nombre valid',
                        });
                    } else {
                        changementPourcentageCadeaux(pourcentage, idCategoriToChange, 'moin');
                        $(form)[0].reset();
                    }
                });
            }
        }
    }
    //function afficher categories

    //Ajouter categorie
    $("#categoriesFormAjout").on("submit", function (event) {
        event.preventDefault();

        $.ajax({
            url: "/categories/ajouter",
            type: 'POST',
            dataType: 'json',
            async: true,
            data: JSON.stringify({nom: $('#categoriesFormAjout #categrories_nom').val()}),

            success: function (response) {
                idModification = 'm-categorie-' + response['id'];
                idSuppression = 's-categorie-' + response['id'];
                prixChange = 'p-categorie-' + response['id'];
                let tr = '<tr>' +
                    '<td>'+response["nom"]+'</td>' +
                    '<td>'+response["moyenne"]+'</td>' +
                    '<td><a href="" id = "'+idModification+'"><img width="24px" src="{{ asset('img/icon/edit.png') }}"  id="' + idModification + '" /></a></td>' +
                    '<td><a href="" id = "'+idSuppression+'"><img width="24px" src="{{ asset('img/icon/delete.png') }}"  id="' + idSuppression + '" /></a></a></td>' +
                    '<td class="pourcentage">' +
                        '<form id="formPourcentage">' +
                            '<input type="text" class="form-control" placeholder="Pourcentage de prix"/>' +
                            '<button id="a-'+prixChange+'" class="btn btn-primary">+</button>' +
                            '<button id="d-'+prixChange+'" class="btn btn-primary">-</button>' +
                        '</form>' +
                    '</td>' +
                    '</tr>';
                $('#content').append(tr);
                $('#categoriesFormAjout')[0].reset();
                $('#' + idModification).click(function (event) {
                    event.preventDefault();
                    modifierCategorie(event);
                    $('#modifModal').modal('show');

                });
                $('#' + idSuppression).click(function (event) {
                    event.preventDefault();
                    let idToDelete = Number(event.target.id.substring(12));
                    supprimer(idToDelete);
                });
                $('#a-'+prixChange).click(function (event) {
                    event.preventDefault();
                    let idCategoriToChange = Number(event.target.id.substring(14));

                    let pourcentage = $('input', form).val();
                    if(isNaN(pourcentage)){
                        console.log('[Prob] la valeur ' + pourcentage + 'n\'est pas un nombre valid');
                        Swal.fire({
                            icon: 'error',
                            title: 'Action échoué',
                            text: 'la valeur " ' + pourcentage + ' "n\'est pas un nombre valid',
                        });
                    } else {
                        changementPourcentageCadeaux(pourcentage, idCategoriToChange, 'plus');
                        let form = $(this).closest('form');
                    }
                });
                $('#d-'+prixChange).click(function (event) {
                    event.preventDefault();
                    let idCategoriToChange = Number(event.target.id.substring(14));
                    let form = $(this).closest('form');
                    let pourcentage = $('input', form).val();
                    if(isNaN(pourcentage)){
                        console.log('[Prob] la valeur ' + pourcentage + 'n\'est pas un nombre valid');
                        Swal.fire({
                            icon: 'error',
                            title: 'Action échoué',
                            text: 'la valeur " ' + pourcentage + ' "n\'est pas un nombre valid',
                        });
                    } else {
                        changementPourcentageCadeaux(pourcentage, idCategoriToChange, 'moin');
                        let form = $(this).closest('form');
                    }
                });
            },
            error: function (xhr, status, errorThrown) {
                console.log("erreur: " + errorThrown+ "status"+ status+ "xhr" + xhr);
            }
        });
    });
    //Ajouter categorie

    //Fonction: Modifier categories
    function modifierCategorie(event) {
        idToModif = Number(event.target.id.substring(12));

        let tr = $('#' + event.target.id).closest('tr');
        $("#categoriesFormModifier #categrories_nom").val($('.nom', tr).text());
    }
    //Fonction: Modifier categories
    // envoyer les modifications au serveur
    $('#categoriesFormModifier').on('submit', function (event) {
        event.preventDefault();
        $.ajax({
            url: '/categories/modifier/'+idToModif,
            type: 'POST',
            data: JSON.stringify({nom: $('#categoriesFormModifier #categrories_nom').val()}),
            success: function (response) {
                tr = $('#m-categorie-'+idToModif).closest('tr');
                $('.nom', tr).html($('#categoriesFormModifier #categrories_nom').val());
                Swal.fire({
                    icon: 'success',
                    title: 'Modification effectuée',
                    text: 'Modification de la catégorie est bien effectuée !',
                });
            },
            error: function (response) {
                Swal.fire({
                    icon: 'error',
                    title: 'Action échoué',
                    text: response.responseJSON['fail'],
                });
            }
        });
    });
    //envoyer les modifications au serveur

    //supp
    function supprimer(idToDelete){
        $.confirm({
            title: 'Supprimer !',
            content: 'Voullez vous vraiment supprimer cet utilisateur?',
            type: 'red',
            typeAnimated: true,
            buttons: {
                tryAgain: {
                    text: 'Supprimer',
                    btnClass: 'btn-red',
                    action: function(){
                        $.ajax({
                            url: '/categories/supprimer/' + idToDelete,
                            type: 'DELETE',

                            success: function (response) {
                                $("#s-categorie-"+idToDelete).closest('tr').remove();
                            },
                            error: function (msg) {
                                console.log(msg.responseJSON['fail']);
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Action échoué',
                                    text: msg.responseJSON['fail'],
                                });
                            }
                        });
                    }
                },
                close: {
                    text: 'Annuler',
                    action: function () {
                    }
                }
            }
        });
    }
    //supp
    //afficher categorie
    function afficherCategories (){
        $.ajax({
            url: '/categories',
            type: 'GET',
            dataType: 'json',

            success: function(response){
                afficherTableau(response);
            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Action échoué',
                    text: 'Un probleme de connexion peut etre la cause !',
                });
            }
        });
    }
    //afficher categorie
    $(document).ready(function(){
        afficherCategories();
    });
</script>

{% endblock %}