{% extends 'base.html.twig' %}

{% block title %}Gestion des Personnes{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/PersonnesStyle.css') }}">
{% endblock %}
{% block body %}


    <!-- Modal -->
    <div class="filtre">
        <form id="filtrePersonne">
            <select id="filtre-ville" class="form-control" >
                <option selected="selected">Ville</option>
            </select>
            <select id="filtre-rue" disabled  class="form-control" >
                <option selected="selected">Nom rue</option>
            </select>
        </form>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ajoutModal">
            Ajouter Personne
        </button>
    </div>
        <div class="modal fade" id="ajoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter personne</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
    <!-- Formulaire d'ajout -->
    {{ form_start(personnesFormAjouter,{'attr': {'id': 'PersonneFormAjouter'}}) }}
    {{ form_row(personnesFormAjouter.nom) }}
    {{ form_row(personnesFormAjouter.sexe) }}
    {{ form_row(personnesFormAjouter.naissance) }}
    <div id="select-adresse">
        {{ form_row(personnesFormAjouter.adresse) }}
    </div>
    <label for="first-mdp" >Mot de passe</label>
    <input type="password" id="first-mdp" name="password" class="form-control">

    <label for="second-mdp">Role d'utilisateur</label>
    <select name="role" id="select-role-ajout" class="form-control">
        <option value="">Choisissez un role pour l'utilisateur</option>
        <option value="1">Pére Noel</option>
        <option value="2">Secretairiat</option>
        <option value="3">Gestionaire de stock</option>
        <option value="4">Utilisateur client</option>
    </select>
    <a class="display-sub-form"><img src="{{ asset('/img/icon/seeMore.png') }}" width="12px" alt=""> Nouvelle Adresse</a>
    <div class="sub-form-adresse" style="display: none;">
        <a class="hide-sub-form"><img src="{{ asset('/img/icon/cancel.png') }}" width="12px" alt=""> Annuler</a>
        {{ form_row(personnesFormAjouter.nouvelleAdresse) }}
    </div>

    </div>
    <div class="modal-footer">
        <button id="ajoutButton" class="btn btn-primary" type="submit">Ajouter</button>
    </div>
    {{ form_end(personnesFormAjouter) }}
</div>
</div>
</div>

    <!--  Formulaire d'ajout -->
            <div class="modal fade" id="modifierModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier personnes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <!-- Formulaire de modifier -->
                        {{ form_start(personnesFormModifier,{'attr': {'id': 'PersonneFormModifier'}}) }}
                        {{ form_row(personnesFormModifier.nom) }}
                        {{ form_row(personnesFormModifier.sexe) }}
                        {{ form_row(personnesFormModifier.naissance) }}
                        <div id="select-adresse">
                            {{ form_row(personnesFormModifier.adresse) }}
                        </div>
                        <label for="first-mdp" >Mot de passe</label>
                        <input type="password" id="first-mdp" name="password" class="form-control">

                        <label for="second-mdp">Role d'utilisateur</label>
                        <select name="role" id="select-role-modif" class="form-control">
                            <option value="">Choisissez un role pour l'utilisateur</option>
                            <option value="1">Pére Noel</option>
                            <option value="2">Secretairiat</option>
                            <option value="3">Gestionaire de stock</option>
                            <option value="4">Utilisateur client</option>
                        </select>
                        <a class="display-sub-form" ><img src="{{ asset('/img/icon/seeMore.png') }}" width="12px" alt=""> Nouvelle Adresse</a>
                        <div class="sub-form-adresse" style="display: none;">
                            <a class="hide-sub-form"><img src="{{ asset('/img/icon/cancel.png') }}" width="12px" alt=""> Annuler</a>
                            {{ form_row(personnesFormModifier.nouvelleAdresse) }}
                        </div>
                        </div>
                    <div class="modal-footer">
                        <button id="modifierButton" class="btn btn-primary" type="submit">Modifier</button>
                    </div>
                    {{ form_end(personnesFormModifier) }}
                </div>
        </div>
            </div>
    <!--  Formulaire de modifier -->
    <a href="" id="securiteAge">Liste des personnes souhaitant des cadeaux inadaptès à leurs age</a>
    <a href="" id="annulerSecurite">Annuler</a>
    <!-- Table content-->

        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="personnes" class="table table-bordered">
                        <theader>
                            <tr>
                                <th>Nom Prénom</th>
                                <th>date de naissance</th>
                                <th>sexe</th>
                                <th>Adresse</th>
                                <th>Role</th>
                                <th>Mot de passe</th>
                                <th>Cadeaux souaités</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                        </theader>
                        <tbody id="content">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    <div id="adresse">
    </div>
    <!-- Modal -->
<div class="modal fade" id="cadeauModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadeaux souhaités</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="personnes-cadeux">
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- /Table content-->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script>

    //variables globales
        var idToModif = 0;
    //variables globales

    //Display sous-formulaire hide select
        $('.display-sub-form').click(function (event) {
            $('.sub-form-adresse').css("display", "block");
            $('.select-adresse').css("display", "none");
            $(this).css('display', 'none');
        });
    //Display sous-formulaire hide select

    //Display select hide sous formulaire
        $('.hide-sub-form').click(function (event) {
            $('.sub-form-adresse').css("display", "none");
            $('.select-adresse').css("display", "block");
            $('.display-sub-form').css('display', 'block');
        });
    //Display select hide sous formulaire
    //Filtre des personnes avec un age inferieur à l'age de possibilité du cadeau
    $('#securiteAge').on('click', function (event) {
        event.preventDefault();
        $('#annulerSecurite').css('display','flex');
        $.ajax({
            url: '/personnes/security',
            type: 'GET',
            success: function (response) {
                $('#content tr').each(function () {
                    $(this).css('visibility', 'collapse');
                });
                response.forEach(function (personne) {
                    $('#s-personne-'+personne["id"]).closest('tr').css('visibility', 'visible');
                });
            },
            error: function (response) {
                console.log('[probleme] personnes avec un age cadeau');
            }
        })
    })
    //Annuler filtre de security
    $('#annulerSecurite').on('click', function (event) {
        event.preventDefault();
        $('#content tr').each(function () {
            $(this).css('visibility', 'visible');
        });
        $(this).css('display', 'none');
    })
    //Annuler filtre de security
    //Filtre des personnes avec un age inferieur à l'age de possibilité du cadeau
    //Return le nom des input de symfony sous la forme de cet exemple (adresse[nom] => nom)
    function getNameInput(inputName) {
        let t = inputName.split("");
        let prefix = '';
        for (i = 0; i < t.length; i++) {
            if(t[i] != "[" && t[i] != "]"){
                prefix += t[i];
            } else if(t[i] == "["){
                prefix = '';
            }
        }
        return prefix;
    }
    //Return le nom des input de symfony sous la forme de cet exemple (adresse[nom] => nom)

    //
        function cadeauxSouhaites(idPersonne) {
            $.ajax({
                url: '/personnes/'+idPersonne+'/cadeaux',
                type: 'GET',

                success: function (response) {
                    $('#personnes-cadeux').html('');

                    response.forEach(function (cadeau) {
                        let idSupprimer = 's-cadeau-personne-'+ cadeau["idCadeau"];
                        let idModifier = 's-cadeau-personne-'+ cadeau["idCadeau"];
                        $('#personnes-cadeux').append("<li>" +
                            cadeau["nom"] +
                            " | "+cadeau["age"] +" ans"+
                            " | "+cadeau["prix"]+"$"+
                            " | Categorie: "+cadeau["categorie"]+ " <a href='' >"+
                            "<img width=\"24px\" src=\"{{ asset('img/icon/delete.png') }}\" id=\""+idSupprimer+"\" />"
                            +"</a></li>");
                        $('#'+ idSupprimer).on('click', function (e) {
                            e.preventDefault();
                            $.confirm({
                                title: 'Supprimer !',
                                content: 'Voullez vous vraiment supprimer ce cadeau ?',
                                type: 'red',
                                typeAnimated: true,
                                buttons: {
                                    tryAgain: {
                                        text: 'Supprimer',
                                        btnClass: 'btn-red',
                                        action: function(){
                                            $.ajax({
                                                url: '/personnes/'+idPersonne+'/cadeaux/'+cadeau["idCadeau"],
                                                type: 'DELETE',

                                                success: function (response) {
                                                    $('#'+ idSupprimer).closest('li').remove();
                                                },
                                                error: function (response) {
                                                    console.log('[prob] cadeauxSouhaites(idPersonne)');
                                                    Swal.fire({
                                                        icon: 'error',
                                                        title: 'Action échoué',
                                                        text: "Un probleme de connexion peut être la cause !"
                                                    });
                                                }
                                            })
                                        }
                                    },
                                    close: {
                                        text: 'Annuler',
                                        action: function () {
                                        }
                                    }
                                }
                            });

                        });
                    })
                },
                error: function (response){
                    console.log("[Problem] cadeauxSouhaites(idPersonne)")
                }
            });
        }
    //

    //Remplire le select du filtre ville
        function villePopulate() {
            $("#filtre-ville").html('<option value="0" selected="selected">Toutes les villes</option>');

            $("#PersonneFormModifier #personnes_adresses_adresse").children('option').each(function(){
                if(getVilleFromAdresse($(this).text()) != '') {
                    let option = '<option value="' + this.value + '">' + getVilleFromAdresse($(this).text()) + '</option>';
                    $("#filtre-ville").append(option);
                }
            });
        }
        function getVilleFromAdresse(adresse) {
            let tab = adresse.split('');
            let ville = '';
            for(i = 0; i < tab.length; i++) {
                if(tab[i] != ' ') {
                    ville += tab[i];
                } else {
                    ville = '';
                }
            }
            return ville;
        }
    //Remplire le select du filtre ville

    //Ecouter changement du select ville (Filtre)
        $("#filtre-ville").on('change', function () {
            console.log('value: '+ $(this).find(":selected").val() + ' ville: '+ $(this).find(":selected").text());
            $.ajax({
                url: '/personnes/filtre/ville/'+ $(this).find(":selected").val(),
                type: 'GET',
                dataType: 'json',

                success: function (response) {
                    $("#content").html('');
                    $("#filtre-rue").html('<option value="0" selected="selected">Toutes les rues</option>');
                    $("#filtre-rue").prop('disabled', false);
                    if(typeof response["Rues"] !== 'undefined') {
                        response["Rues"].forEach(function (rueObjet) {
                            let option = '<option value="'+rueObjet["idAdresse"]+'">'+rueObjet["nomRue"]+' </option>';
                            $("#filtre-rue").append(option);

                        })
                        afficherTableau(response["Personnes"]);
                    } else {
                        $("#filtre-rue").prop('disabled', true);
                        afficherTableau(response);
                    }
                },
                error: function () {
                    console.log("Ecouter changement select ville")
                }
            })
        });
    //Ecouter changement select ville (Filtre)

    //Ecouter changement select Rue (Filtre)
        $("#filtre-rue").on('change', function () {
            console.log('===> =>value: '+ $(this).find(":selected").val() + ' ville: '+ $(this).find(":selected").text() + 'id Ville =>' + $("#filtre-ville").find(":selected").val());
            $.ajax({
                url: '/personnes/filtre/ville/'+$("#filtre-ville").find(":selected").val()+'/rue',
                type: 'GET',
                dataType: 'json',
                data: {"nomRue": $(this).find(":selected").text(), "valueSelect": $(this).find(":selected").val()},
                success: function (response) {
                    $("#content").html('');
                    $("#filtre-rue").prop('disabled', false);
                    if(typeof response["Rues"] !== 'undefined') {
                        afficherTableau(response["Personnes"]);
                    } else {
                        $("#filtre-rue").prop('disabled', true);
                        afficherTableau(response);
                    }
                },
                error: function () {
                    console.log("Ecouter changement select ville")
                }
            })
        });
    //Ecouter changement select Rue (Filtre)

    //supp
        function supprimer(idToDelete){
            $.confirm({
                title: 'Supprimer !',
                content: 'Voullez vous vraiment supprimer cet utilisateur ?',
                type: 'red',
                typeAnimated: true,
                buttons: {
                    tryAgain: {
                        text: 'Supprimer',
                        btnClass: 'btn-red',
                        action: function(){
                            $.ajax({
                                url: '/personnes/supprimer/' + idToDelete,
                                type: 'DELETE',

                                success: function (response) {
                                    if(response[0]["success"] == idToDelete){
                                        $("#s-personne-"+idToDelete).closest('tr').remove();
                                    } else {
                                        console.log('probleme id delete');
                                    }
                                },
                                error: function (response) {
                                    Swal.fire({
                                        icon: 'error',
                                        title: response.responseJSON[0]["fail"],
                                        text: 'Un probleme de connexion peut etre la cause !'
                                    })
                                }
                            });
                        }
                    },
                    close: {
                        text: 'Annuler',
                        action: function () {
                        }
                    }
                }
            });
        }
    //supp

    //Fonction qui affiche dans le tableau html les donnée(personne)
        function afficherTableau(data){
            if(data.length > 1){
                $("#content").html('');
            }
            if(data.length != 0){
                for(i = 0; i < data.length; i++) {
                    let ligne = data[i];
                    let idModification = 'm-personne-' + ligne['id'];
                    let idSuppression = 's-personne-' + ligne['id'];
                    let idCadeau = 'c-personne-' + ligne['id'];
                    let idAdresse= 'a-personne-' + ligne['adresse']['idAdresse'];

                    let e = $('<tr ><td class="nom">' +
                        '</td><td class="naissance"></td>' +
                        '<td class="sexe"></td>' +
                        '<td class="adresse" id="'+ idAdresse +'"></td>' +
                        '<td class="role" id="role-'+ligne['roleNumero']+'"></td>' +
                        '<td class="mdp"><img src="{{ asset('img/icon/lock.png') }}" alt="" /></td>' +
                        '<td class="cadeaux"><a href="" ><img width="24px" src="{{ asset('img/icon/gift.png') }}" id="' + idCadeau + '"/></a></td>' +
                        '<td class="modifier"><a href="" ><img width="24px" src="{{ asset('img/icon/edit.png') }}" id="' + idModification + '"/></a></td>' +
                        '<td class="supprimer"><a href=""><img width="24px" src="{{ asset('img/icon/delete.png') }}"  id="' + idSuppression + '" /></a></td>' +
                        '</tr>'
                    );

                    $('.nom', e).html(ligne['nom']);
                    $('.naissance', e).html(ligne['naissance']);
                    $('.sexe', e).html(ligne['sexe']);
                    $('.role', e).html(ligne['role']);
                    $('.adresse', e).html(
                        ligne['adresse']["numRue"] + ' ' +
                        ligne['adresse']["nomRue"] + '<br/>' +
                        ligne['adresse']["codePostal"] + ' ' +
                        ligne['adresse']["ville"]
                    );

                    $("#content").append(e);
                    $("#" + idModification).on('click', function (event) {
                        event.preventDefault();
                        modifierPersonne(event);
                        $('#modifierModal').modal('show');
                    });
                    $("#" + idSuppression).on('click', function (event) {
                        event.preventDefault();
                        let idToDelete = Number(event.target.id.substring(11));
                        supprimer(idToDelete);
                    });

                    $("#" + idCadeau).on('click',function (event) {
                        event.preventDefault();
                        let idPersonne = Number(event.target.id.substring(11));
                        cadeauxSouhaites(idPersonne);
                        $('#cadeauModal').modal('show');
                    });
                }
            }
        }
    //Fonction qui affiche dans le tableau html les donnée(personne)

    //Fonction: Modifier personne (remplir le form)
        function modifierPersonne(event) {
            idToModif = Number(event.target.id.substring(11));

            let tr = $('#' + event.target.id).closest('tr');
            let idAdresse = $('.adresse', tr).attr('id').substring(11);
            let idRole = $('.role', tr).attr('id').substring(5);
            console.log('hello' + idRole);
            $("#PersonneFormModifier #personnes_adresses_nom").val($('.nom', tr).text());
            if($('.sexe', tr).text() == 'Homme') {
                $("#PersonneFormModifier #personnes_adresses_sexe_0").attr('checked', true);
            }
            else {
                $("#PersonneFormModifier #personnes_adresses_sexe_1").attr('checked', true);
            }
            $("#PersonneFormModifier #personnes_adresses_naissance").val($('.naissance', tr).text());
            $('#PersonneFormModifier #personnes_adresses_adresse option[value="'+idAdresse+'"]').attr('selected', true);
            $('#PersonneFormModifier #select-role-modif option[value="'+idRole+'"]').attr('selected', true);
        }
    //Fonction: Modifier personne

    //Afficher tableau
        $(document).ready(function () {
            villePopulate();
            $('.js-datepicker').datepicker({
                format : 'dd/mm/yyyy',
                daysMin:["Dim","Lun","Mar","Mer","Jeu","Ven","Sam"],
                months:["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]
            });
            $.ajax({
                url: '/personnes',
                type: 'GET',
                dataType: 'json',
                async: true,
                success: function (data) {
                    afficherTableau(data)
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log('[prob] Affichage');
                }
            });
        });
    //Afficher tableau

    //Ajouter Personne
        $("#PersonneFormAjouter").on("submit", function (event) {
            event.preventDefault();

            var data = {};

            //[ {name: nom-de-input, value: valeur-input}, {...}, {...}, {...}... ]
            $(this).serializeArray().forEach(obj=>{
                let name = getNameInput(obj.name);
                let value = obj.value || '';
                if (data[name]) {
                    if (!Array.isArray(data[name])) {
                        data[name] = [data[name]];
                    }
                    data[name].push(value);
                } else {
                    data[name] = value;
                }
            });
            console.log( JSON.stringify(data));
            $.ajax({
                url: "/personnes/ajouter",
                type: 'POST',
                dataType: 'json',
                async: true,
                data: JSON.stringify(data),

                success: function (response) {
                    $("#PersonneFormAjouter")[0].reset();
                    let ligne = response[0];
                    //A mettre dans une fonction
                    if(!ligne["adresse"]["adresseExiste"]) {
                        let option = '<option value="'+ligne["adresse"]["idAdresse"]+'">'+
                            ligne["adresse"]["numRue"] +' '+
                            ligne["adresse"]["nomRue"] +' '+
                            ligne["adresse"]["codePostal"] +' '+
                            ligne["adresse"]["ville"]+'</option>';
                        $('#PersonneFormAjouter #personnes_adresses_adresse').append(option);
                        $('#PersonneFormModifier #personnes_adresses_adresse').append(option);
                        villePopulate();//Actualiser le filtre ville
                    }
                    //A mettre dans une fonction
                    afficherTableau(response);
                },
                error: function (response) {
                    let msgText = "Les données saisies non valides";
                    if(response["status"] == 500) {
                        msgText = "Un probleme de connexion peut etre la cause !";
                    }

                    Swal.fire({
                        icon: 'error',
                        title: response.responseJSON["fail"],
                        text: msgText,
                    })
                }
            });
        });
    //Ajouter Personne

    //Modifier Personne
        $("#PersonneFormModifier").on("submit", function (event) {
            event.preventDefault();

            var data = {};
            //[ {name: nom-de-input, value: valeur-input}, {...}, {...}, {...}... ]
            $(this).serializeArray().forEach(obj=>{
                let name = getNameInput(obj.name);
                let value = obj.value || '';
                if (data[name]) {
                    if (!Array.isArray(data[name])) {
                        data[name] = [data[name]];
                    }
                    data[name].push(value);
                } else {
                    data[name] = value;
                }
            });
            console.log(JSON.stringify(data));
            $.ajax({
                url: "/personnes/modifier/"+idToModif,
                type: 'POST',
                dataType: 'json',
                async: true,
                data: JSON.stringify(data),

                success: function (response) {
                    let ligne = response[0];
                    //A mettre dans une fonction
                    if(!ligne["adresse"]["adresseExiste"]) {
                        let option = '<option value="'+ligne["adresse"]["idAdresse"]+'">'+
                            ligne["adresse"]["numRue"] +' '+
                            ligne["adresse"]["nomRue"] +' '+
                            ligne["adresse"]["codePostal"] +' '+
                            ligne["adresse"]["ville"]+'</option>';
                        $('#PersonneFormAjouter #personnes_adresses_adresse').append(option);
                        $('#PersonneFormModifier #personnes_adresses_adresse').append(option);
                        villePopulate() //Actualiser le filtre ville
                    }
                    //A mettre dans une fonction
                    console.log("===>" + ligne['naissance']);
                    tr = $('#m-personne-'+ligne["id"]).closest("tr");
                    $('.naissance',tr).html(ligne['naissance']);
                    $('.sexe',tr).html(ligne['sexe']);
                    $('.adresse',tr).html(
                        ligne['adresse']["numRue"] + ' ' +
                        ligne['adresse']["nomRue"] + '<br/>' +
                        ligne['adresse']["codePostal"] + ' ' +
                        ligne['adresse']["ville"]);
                    Swal.fire({
                        icon: 'success',
                        title: 'Modification réussie !'
                    });
                },
                error: function (response) {
                    let msgText = "Les données saisies non valides";
                    if(response["status"] == 500) {
                        msgText = "Un probleme de connexion peut etre la cause !";
                    }

                    Swal.fire({
                        icon: 'error',
                        title: response.responseJSON["fail"],
                        text: msgText,
                    });
                }
            });
        });
    //Modifier Personne
</script>
{% endblock %}